<h1>HN Thread</h1>
<p class="lead">Get HN comments of your blog post</p>
<p class="lead"><input type='text' placeholder="http://example.com/archives/123" size='42' id="term" name="term"></p>
<p><a class="btn btn-lg btn-warning" href="#">Show HN Thread</a></p>