<h1>Try it out!!!</h1>
<p class="lead">Get HN comments on your story</p>
<p class="lead"><input type='text' placeholder="Paste a story URL here" size='42' id="term" name="term"></p>
<p><a class="btn btn-lg btn-success" href="#">Show HNThread</a></p>